body {
  background-color: #FFF1E0;
  font-family: Open Sans;
}

h1 {
  font-size: 30px;
  margin: 0px;
}

/** top nav bar with the logo (title) history, music, games **/
.navbar {
  display: inline-block;
  width: 100%;
  height: 20%;
  margin-top: 0px;
  margin-bottom: 10px;
}

/** div the title of the website **/
.title {
  float: left;
  position: absolute;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
}

/** div for history, music, and games **/
.navbarbuttons {
  float: right;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

/** nav bar buttons **/
/** remove link underline **/
a {
  all: unset;
}

/** normal state **/
.history {
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background-color: #49A9FF;
  border: none;
  font-size: 18px;
  height: 40px;
  margin-right: 20px;
  padding-top: 6px;
  padding-right: 15px;
  padding-bottom: 6px;
  padding-left: 15px;
}

/** hover state **/
.history:hover {
  background-color: black;
  color: white;
}

/** click state **/
.history:active {
  color: beige;
  background-color: #ED344D;
}

/** normal state **/
.music {
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background-color: #FF9130;
  border: none;
  font-size: 18px;
  height: 40px;
  margin-right: 20px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 30px;
}

/** hover state **/
.music:hover {
  background-color: black;
  color: white;
}

/** click state **/
.music:active {
  color: beige;
  background-color: #ED344D;
}

/** normal state **/
.games {
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background-color: #C067BA;
  border: none;
  font-size: 18px;
  height: 40px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
}

/** hover state **/
.games:hover {
  background-color: black;
  color: white;
}

/** click state **/
.games:active {
  color: beige;
  background-color: #ED344D;
}

/** quotation headers**/
#headerquote {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

#headerquote2 {
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

/** div for instructions on quotation **/
#para {
  font-size: 14px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

/** div for Kanye Quotation **/
#KanyeQuoteHere {
  text-align: center;
  font-size: 24px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  height: 80px;
}

/** div for NEXT button for Kanye Quotation **/
/** Source for centering from W3Schools **/
.nextButton {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/** style for NEXT button for Kanye Quotation **/
.NextOne {
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}

/** Kanye hands img **/
#kanyehands {
  margin-top: 40px;
}

/** div for layered images on games page **/
.parent {
  position: relative;
  top: 0;
  left: 0;
}

/** red kanye image on games page **/
.kanyered {
  position: relative;
  width: 400px;
  height: 300px;
  left: 15px;
  top: 100px;
}

/** kanye in a mask image on games page **/
.kanyemask {
  position: absolute;
  width: 1075px;
  height: 600px;
  left: 175px;
  top: 50px;
}

/** container for image text **/
.imagetext {
  position: absolute;
  color: black;
}

/** header for games **/
.gamesheader {
  margin: 0px;
  color: black;
  position: relative;
  font-weight: bold;
  line-height: 40px;
  width: 250px;
  height: 20px;
  left: 1050px;
  top: 350px;
}

/** quotation game **/
.gamesquotation {
  cursor: pointer;
  margin: 0px;
  font-size: 20px;
  color: black;
  position: relative;
  font-weight: bold;
  line-height: 40px;
  height: 20px;
  width: 250px;
  left: 1050px;
  top: 400px;
}

/** the main LIFE OF KANYE image **/
.lifeimage {
  position: absolute;
  margin-top: 20px;
  left: 0%;
  width: 100%;
  height: 700px;
  opacity: 0.9;
}

/** crowd on the first page **/
.crowd {
  position: relative;
  width: 300px;
  height: 450px;
  left: 17%;
  margin-top: 275px;
}

/** container for history page **/
.historycont {
  display: inline-block;
}

/** img for Kanye rapping **/
.kanyeraps {
  float: left;
  width: 80%;
  height: 400px;
  top: 154px;
  margin-top: 20px;
}

/** img header text **/
.historytext {
  width: 15%;
  float: left;
  margin-left: 20px;
}

/** header history **/
.historyheader {
  font-size: 48px;
  font-weight: bold;
}

/** history subtitle header **/
.historyspan {
  font-size: 24px;
  font-weight: bold;
}

/** links are in purple **/
#kanyefacts {
  cursor: pointer;
  color: purple;
}

/** this is the first part of the body on the history page **/
.hbody1 {
  margin-left: 150px;
  margin-right: 150px;
  font-size: 14px;
}

/** flex to center **/
#sentimentid {
  display: flex;
  justify-content: center;
}

/** sentiment image **/
.sentiment {
  width: 60%;
  height: 80%;
}

/** sentiment analysis header for img **/
#sentimentheader {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/** text on music page **/
#performance {
  font-size: 16px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

/** centered video **/
.centered-video {
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
}

/** typewriter thank you **/
#thanks {
  font-size: 14px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}